<aside class="sidebar">
    <div class="widget">
        <h4 class="widget-title">CloudFlare blog</h4>
        <p style="margin-top: 20px">
            <a href="https://www.cloudflare.com/enterprise-service-request" class="btn btn-success" tabindex="11" target="_blank">Contact our team</a>
        </p>
        <p>
            <strong>US callers</strong><br/>
            1 (888) 99-FLARE <br/>
            <strong>UK callers</strong><br/>
            +44 (0)20 3514 6970<br/>
            <strong>International callers</strong><br/>
            +1 (650) 319-8930 <BR/><BR/>
            <a href="https://www.cloudflare.com/plans" target="_blank">Full feature list and plan types</a>
        </p>
        <p>CloudFlare provides performance and security for any website. More than 2 million websites use CloudFlare.</p>
        <p>There is no hardware or software. CloudFlare works at the DNS level. It takes only 5 minutes to sign up. To learn more, please visit our website</p>
    </div>
    <div class="widget">
        <h4 class="widget-title">CloudFlare features</h4>
        <ul class="menu menu-sidebar">
            <li><a href="https://www.cloudflare.com/overview">Overview</a></li>
            <li><a href="https://www.cloudflare.com/features-cdn">CDN</a></li>
            <li><a href="https://www.cloudflare.com/features-optimizer">Optimizer</a></li>
            <li><a href="https://www.cloudflare.com/features-security">Security</a></li>
            <li><a href="https://www.cloudflare.com/features-analytics">Analytics</a></li>
            <li><a href="https://www.cloudflare.com/features-apps">Apps</a></li>
            <li><a href="https://www.cloudflare.com/network-map">Network map</a></li>
            <li><a href="https://www.cloudflare.com/system-status">System status</a></li>
        </ul>
    </div>
    <div id="mc_embed_signup" class="widget">
        <form action="http://cloudflare.us5.list-manage1.com/subscribe/post?u=d80d4d74266c0c044b0bcd7ca&amp;id=8dc0bf9dea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="width-full required email" id="mce-EMAIL" placeholder="Enter your email address"/>
            <div id="mce-responses" class="clearfix">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div class="clearfix">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary width-full">Sign up for email updates</button>
            </div>
        </form>
    </div>
    <div class="widget">
        <a href="/rss/" class="btn btn-secondary btn-block">Subscribe via RSS</a>
    </div>
</aside>